[user]
    name = roodolv
    email = 113752412+roodolv@users.noreply.github.com
[core]
    editor = vim
    pager = LESSCHARSET=utf-8 less
[url "git@github.com:"]
    insteadOf = https://github.com/
    insteadOf = g:
[alias]
    myname = config --global user.name
    mymail = config --global user.email
    lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ups = config --get-regexp branch
    rdiff = diff master..origin/master
    fdiff = diff HEAD FETCH_HEAD
    fmerge = merge --no-ff FETCH_HEAD
[init]
    defaultBranch = main
[push]
    default = simple
[pull]
    ff = only
[merge]
    ff = false
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
