[user]
    name = roodolv
    email = 113752412+roodolv@users.noreply.github.com
[core]
    editor = nvim
    # pager = LESSCHARSET=utf-8 less
    pager = delta
[url "git@github.com:"]
    insteadOf = https://github.com/
[alias]
    myname = config --global user.name
    mymail = config --global user.email
    gconf = config --global -e
    lconf = config --local -e
    lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
    tree = log --graph --decorate --abbrev-commit --format=format:'%C(magenta)%h%C(reset) - %C(bold green)(%ar) - %C(reset)%C(white)%s%C(reset)%C(bold blue) - %an%C(reset) %C(bold yellow)%d%C(reset)' --all --date=relative
    ups = config --get-regexp branch
    rdiff = diff master..origin/master
    fdiff = diff HEAD FETCH_HEAD
    fmerge = merge --no-ff FETCH_HEAD
    vsdiff = difftool -y -d -t vscode
    windiff = difftool -y -d -t winmerge
    vsmerge = mergetool -y -t vsmerge
    winmerge = mergetool -y -t winmerge
[init]
    defaultBranch = main
[pull]
    ff = only
[push]
    default = simple
[diff]
    tool = vscode
    colorMoved = default
[merge]
    tool = winmerge
    ff = false
    conflictstyle = diff3
[difftool "vscode"]
    cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
[mergetool "vscode"]
    cmd = code --wait \"$LOCAL\" \"$REMOTE\" --ancestor \"$BASE\" -merge \"$MERGED\"
[difftool "winmerge"]
    cmd = \"C:/Program Files/WinMerge/WinMergeU.exe\" -f \"*.*\" -e -u -r \"$LOCAL\" \"$REMOTE\"
[mergetool "winmerge"]
    cmd = \"C:/Program Files/WinMerge/WinMergeU.exe\" -e -u \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true # press "n" or "N" to move to the next diff
    side-by-side = true
    line-numbers = true
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[credential "https://huggingface.co"]
	provider = generic
[safe]
	directory = C:/Users/USERNAME/scoop/apps/scoop/current
